nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  -webkit-box-shadow: 1px 8px 12px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 8px 12px -2px rgba(0, 0, 0, 0.45);

  mat-icon{
    cursor: pointer;
  }
  .logo{
  img{
    width: 10rem;
  }
}
}
