
.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  h1{
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
  button{
    border:none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
  }
}

.content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  .main-image{
    margin-top: 20px;

    .poke-img{
      max-width: 100%;
      height: auto;
      min-width:475px;
      min-height: 475px;
      object-fit: cover;
    }
  }
}

.navigation-arrows{
  button{
    background-color: transparent;
    border: transparent;
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
  }

  .previous{
    top: 50%;
  }

  .next{
    top: 50%;
    right: 10px;
  }
}

@media only screen and (max-width: 1250px) {

  .header{
    margin-top: 3rem;
  }
  .content{
    flex-direction: column;
    margin-top: 3rem;
  }
  .stat{
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 550px) {

 .poke-img{
  max-width: 100%;
  height: auto;
  min-width:unset !important;
  min-height: unset !important;
  object-fit: cover;
 }
}
