@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

:root{
  --primary-font: 'Roboto Mono', monospace;
}


.dark-mode{
  background-color: #181a1b !important;
  color: white !important;
  border: white;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
